html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  background-color: red;
  color: white;
  font-family: Verdana, sans-serif;
  position: fixed;
  z-index: 30;
  display: block;
  top: 0;
  left: 0;
}

.header * {
  width: 100%;
  margin: 0;
}

.content {
  margin: 0;
  padding-top: 48px;
  display: block;
  height: calc(100% - 68px);
}

.tile {
  margin: 0;
  height: 100%;
  background-color: #ff9933;
  color: black;
}
