html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Verdana, sans-serif;
  background-color: #ff9999/*#55ddff/*#ffe5cc*/;
}

.header {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  background-color: blue/*red*/;
  color: white;
  position: fixed;
  z-index: 30;
  display: block;
  top: 0;
  left: 0;
}

.header * {
  width: 100%;
  margin: 0;
}

.content {
  margin: 0;
  padding-top: 48px;
  display: block;
  height: calc(100% - 68px);
}

.tile {
  margin: 0;
  min-height: 100%;
  background-color: #0099ff/*#ff9933*/;
  color: black;
}

.tile h3 {
  padding: 10px;
  text-align: center;
}

.container {
  text-align: center;
}

.tile canvas, iframe {
  /*display: block;*/
  text-align: center;
  width: 50%;
  background: white;
}

.tile p {
  padding: 0 17%;
}

img {
  height: 50%;
}
